---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/oauth2/v4/token
    body:
      encoding: ASCII-8BIT
      string: "<OAUTH_REQUEST>"
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"access_token":"<TOKEN>","expires_in":3599,"token_type":"Bearer"}'
  recorded_at: Sun, 02 May 2021 13:19:48 GMT
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/SPREADSHEET_ID?fields=*&supportsAllDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"kind":"drive#file","name":"fluent-plugin-google-sheets test","id":"SPREADSHEET_ID","mimeType":"application/vnd.google-apps.spreadsheet"}'
  recorded_at: Sun, 02 May 2021 13:19:49 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/SPREADSHEET_ID?fields=sheets.properties
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "sheets": [
            {
              "properties": {
                "sheetId": 1623889650,
                "title": "Sheet3",
                "index": 0,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 1000,
                  "columnCount": 26
                }
              }
            },
            {
              "properties": {
                "sheetId": 107335007,
                "title": "output.emit",
                "index": 1,
                "sheetType": "GRID",
                "gridProperties": {
                  "rowCount": 102,
                  "columnCount": 20
                }
              }
            }
          ]
        }
  recorded_at: Sun, 02 May 2021 13:19:49 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/SPREADSHEET_ID:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"addSheet":{"properties":{"gridProperties":{"columnCount":20,"rowCount":100},"index":null,"title":"output.emit_without_timestamp"}}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "SPREADSHEET_ID",
          "replies": [
            {
              "addSheet": {
                "properties": {
                  "sheetId": 1885276746,
                  "title": "output.emit_without_timestamp",
                  "index": 2,
                  "sheetType": "GRID",
                  "gridProperties": {
                    "rowCount": 100,
                    "columnCount": 20
                  }
                }
              }
            }
          ]
        }
  recorded_at: Sun, 02 May 2021 13:19:50 GMT
- request:
    method: get
    uri: https://sheets.googleapis.com/v4/spreadsheets/SPREADSHEET_ID?fields=sheets.data.rowData.values(formattedValue,userEnteredValue,effectiveValue)&ranges=%27output.emit_without_timestamp%27
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer <TOKEN>
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "sheets": [
            {
              "data": [
                {}
              ]
            }
          ]
        }
  recorded_at: Sun, 02 May 2021 13:19:50 GMT
- request:
    method: post
    uri: https://sheets.googleapis.com/v4/spreadsheets/SPREADSHEET_ID:batchUpdate
    body:
      encoding: UTF-8
      string: '{"requests":[{"updateSheetProperties":{"fields":"*","properties":{"gridProperties":{"columnCount":20,"rowCount":101},"index":2,"sheetId":1885276746,"title":"output.emit_without_timestamp"}}}]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "SPREADSHEET_ID",
          "replies": [
            {}
          ]
        }
  recorded_at: Sun, 02 May 2021 13:19:50 GMT
- request:
    method: put
    uri: https://sheets.googleapis.com/v4/spreadsheets/SPREADSHEET_ID/values/'output.emit_without_timestamp'!R1C1:R1C1?valueInputOption=USER_ENTERED
    body:
      encoding: UTF-8
      string: '{"values":[["foo"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "SPREADSHEET_ID",
          "updatedRange": "output.emit_without_timestamp!A1",
          "updatedRows": 1,
          "updatedColumns": 1,
          "updatedCells": 1
        }
  recorded_at: Sun, 02 May 2021 13:19:51 GMT
[...]
- request:
    method: put
    uri: https://sheets.googleapis.com/v4/spreadsheets/SPREADSHEET_ID/values/'output.emit_without_timestamp'!R2C1:R2C1?valueInputOption=USER_ENTERED
    body:
      encoding: UTF-8
      string: '{"values":[["bar"]]}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer <TOKEN>
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
          "spreadsheetId": "SPREADSHEET_ID",
          "updatedRange": "output.emit_without_timestamp!A2",
          "updatedRows": 1,
          "updatedColumns": 1,
          "updatedCells": 1
        }
  recorded_at: Sun, 02 May 2021 13:19:51 GMT
recorded_with: VCR 6.0.0
